.row
  .col-md-6.col-md-offset-3
    %p Submit your soundbite, if it's funny (and works on it's own) I'll add it to the mix
    = form_for @submission do |f|
      = render 'shared/error_messages', object: f.object
      = f.text_field :first_phrase
      = f.text_field :second_phrase
      = f.text_field :third_phrase

      = hidden_field_tag :do_not_use

      = f.submit 'Submit soundbite', class: [:btn, 'btn-primary']
